<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        html,
        body {
            height: 100%;
            width: 100%;
        }

        body {
            background: #B9B9C8;
        }

        .well {
            background-color: rgba(115, 115, 255, 0.4);
        }
        /**Footer **/

        footer {
            background: rgba(0, 0, 0, 0.9);
            color: white;
            position: absolute;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>

<body>
    <header font-family:PT Sans , sans-serif;>
        <div class="container">
            <!-- Topper w/ logo -->
            <div class="row hidden-xs topper">
                <div class="col-xs-7 col-sm-7" style="padding-top: 5%;">
                </div>
            </div>
            <!-- End Topper -->
            <!-- Navigation -->
            <div class="row">
                <div class="col-md-11" style="padding-left: 10%;">
                    <nav class="navbar navbar-inverse" role="navigation">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">

                                <span class="sr-only"> Toggle Navigation </span>
                                <span class="icon-bar"> </span>
                                <span class="icon-bar"> </span>
                                <span class="icon-bar"> </span>

                            </button>
                        </div>
                        <!--navbar-header-->

                        <div class="navbar-collapse collapse">
                            <ul class="nav nav-justified">
                                <li>
                                    <a href="/index"> HOME </a>
                                </li>
                                <li>
                                    <a href="/categories"> CATEGORIES </a>
                                </li>
                                <li>
                                    <a href="/recipes"> RECIPES </a>
                                </li>
                                <li>
                                    <a href="/createrecipe"> ADD NEW </a>
                                </li>
                                <li>
                                    <a href="#"> LOGOUT </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <section id="create" class="create">
        <div class="container" style="padding-left: 5%; padding-bottom: 10%; padding-top: 2%;">
            <div class="row">
                <h1 class="well">EDIT RECIPE</h1>
                <div class="col-md-6" style="margin-left: 0%;">
                    <div class="dropdown" class="hide" hidden>
                        <label for="recipe">Select Recipe Category:</label>
                        <select id="categorydropdown">
                            <option value="0">Select Category </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="recipe">Recipe Name:</label>
                        <input type="text" class="form-control" id="recipename" name="recipename">
                    </div>
                    <div class="form-group">
                        <label for="ingredients">Ingredients:</label>
                        <input type="text" class="form-control" id="ingredients" name="ingredients">
                    </div>
                    <input id="useremail" hidden value={{user.email}}>
                    <div class="form-group">
                        <label for="directions">Directions:</label>
                        <input type="text" class="form-control" id="directions" name="directions">
                    </div>
                    <button type="submit" class="btn btn-default" onclick="UpdateRecipe()">Save</button>
                </div>

            </div>
        </div>
    </section>
    <footer>
        <p class="text-center text-uppercase" style="padding-top: 0.5%;">YUMMY RECIPES ANDELA</p>
        <p class="text-center">Created by Adeline</p>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--<script src="js/main.js"></script>-->
    <script>
        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }
        var catgories = document.getElementById("categorydropdown");
        var category = catgories.options[catgories.selectedIndex].value;

        $("#categorydropdown").change(function () {
            category = $("#categorydropdown").val();
        });

        function UpdateRecipe() {
            var recipename = $("input[name=recipename]").val();
            var ingredients = $("input[name=ingredients]").val();
            var directions = $("input[name=directions]").val();
            var email = document.getElementById("useremail").value;

            if (recipename != "" && ingredients != "" && directions != "") {
                data = {
                    "id": getParameterByName('id'),
                    "category": category,
                    "name": recipename,
                    "email": email,
                    "description": directions,
                    "ingredients": ingredients
                }
                console.log(data);
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: '/ur',
                    data: JSON.stringify(data),
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                        console.log(result);
                        window.location.href = '/recipes';
                    },
                });
            }

        }


        $(document).ready(function () {
            var email = document.getElementById("useremail").value;
            var id = getParameterByName('id')
            //alert(id)


            $.ajax({
                type: "GET",
                url: '/qri?id=' + id,
                contentType: false,
                dataType: 'json',
                data: {},
                async: false,
                success: function (result) {
                    console.log(JSON.stringify(result));
                    //alert(result);
                    $("#recipename").val(result[0].name)
                    $("#ingredients").val(result[0].ingredients)
                    $("#directions").val(result[0].description)
                }

            });
            //To get the recipes
            $.ajax({
                type: "GET",
                url: '/guc?email=' + email,
                contentType: false,
                dataType: 'json',
                data: {},
                async: false,
                success: function (result) {
                    console.log(JSON.stringify(result));

                    result.forEach(function (val, i) {
                        console.log(val.id, val.name);
                        $('#categorydropdown').append($('<option>', {
                            value: val.id,
                            text: val.name

                        }));
                        //$('#recipeslist').append($('<li>').text(val.name + val.description));
                    })
                }

            });

        });
    </script>
</body>

</html>